<!-- header -->
<div class="wrapper">
    <div class="hold-transition skin-blue sidebar-mini">
        <header class="main-header">
            <a href="home.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b></b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b data-localize="app.title"></b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <% if (mayLogout) { %>

                            <li><a id="logout"><i class="glyphicon glyphicon-lock"></i> <span data-localize="app.logout"></span></a></li>

                        <% } %>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">Menu</li>

                    <li class="<%= 'home' == obj.active ? 'active' : '' %>"> 
                        <a href="home.html" data-localize="home.title"></a>
                    </li>
                    <% for (var i in URL.listPages) { %>
                    <li class="<%= i == obj.active ? 'active' : '' %>"> <a href="<%= URL.listPages[i] %>" data-localize="classes.<%= i %>.title"></a></li>
                    <% } %>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Main -->
        <div class="content-wrapper">
            <div id="defaultInner"></div>
        </div>

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Vers√£o</b> 0.0.1
            </div>
            <strong>Copyright &copy; 2014-2016 <a href="http://www.martinlabs.com.br" target="_blank">Martin.labs</a>.</strong> All rights
            reserved.
        </footer>
    </div>
</div>