<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title><%= modulename %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!--CSS & JS config-->
        <meta name="manifest" content="<%= modulename %>">
        <meta name="webpack" content="../dist">
    </head>
    <body>
        <div id="app"></div>
        <!--CSS & JS config-->
        <script type="text/javascript" src="../manifest.js"></script>
    </body>
</html>



